html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
fieldset,
form,
input,
button,
textarea {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
strong,
th {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
img {
  border: none;
}

img {
  -ms-interpolation-mode: bicubic;
}

caption,
th {
  text-align: left;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
select {
  font-size: 100%;
}

button {
  text-decoration: none;
  background-color: transparent;
}

a {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.2em;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.content {
  flex: 1 0 auto;
  text-align: center;
}

.footer {
  flex: 0 0 auto;
  text-align: center;
}

.page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 15px;
}

.page-link {
  margin-bottom: 10px;
}

.home {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: 1px solid #333;
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 5px;
}

.checkbox-label input {
  appearance: none;
  opacity: 0;
}

.checkbox-label:has(input[type="checkbox"]:checked) {
  color: white;
  background-color: #333;
}
